@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: hsl(0, 0%, 100%);
    padding: 16px;
    border-radius: 17px;
    max-width: 325px;
    max-height: 600px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.card img {
    border-radius: 10px;
    width: 100%;
}

.text h1 {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 25px;
    padding-bottom: 8px;
    padding-top: 10px;
    margin: 10px 0;
    text-align: center;
}

.text p {
    color: hsl(220, 15%, 55%);
    text-align: center;
    padding-bottom: 20px;
    letter-spacing: 1px;
}

.attribution {
    text-align: center;
    padding: 6px;
    font-size: medium;
}